[Unit]
Description=SMART long self-test weekly Monday (A2SJ)

[Timer]
OnCalendar=Mon *-*-* 03:00:00
Persistent=true
Unit=smart-selftest@long-mon-a2sj.service

[Install]
WantedBy=timers.target
