[Unit]
Description=SMART short self-test daily (JATJ)

[Timer]
OnCalendar=*-*-* 03:05:00
Persistent=true
Unit=smart-selftest@short-jatj.service

[Install]
WantedBy=timers.target
