[Unit]
Description=Run SMART short self-test (A2SJ)

[Service]
Type=oneshot
Environment=DEVICE=/dev/disk/by-id/ata-WDC_WD100EFGX-68CPLN0_WD-B203A2SJ
ExecStart=/usr/sbin/smartctl -t short ${DEVICE}
