db:
  path: /data/diun.db

watch:
  workers: 5
  schedule: "{{ diun_schedule }}"
  firstCheckNotif: false

notif:
  discord:
    webhookURL: "{{ diun_discord_webhook }}"
    mentions:
      - "@here"

providers:
  docker:
    watchByDefault: true
